body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.container {
  flex-direction: column;
  flex-grow: 2;
  height: 100%;
}

.container:first-child {
  flex-grow: 1;
  justify-content: flex-start;
  padding-top: 50px;
}

.counter {
  height: 50px;
}

div {
  display: flex;
  align-items: center;
}

h1 {
  margin: 25px;
}

h1, h2 {
  width: 100%;
  text-align: center;
}

img {
  width: 500px;
  height: auto;
  padding: 25px;
}

.info {
  flex-direction: column;
  width: 202px;
  padding: 10px;
  font-size: 2em;
}

li {
  padding: 15px;
  cursor: pointer;
}

.main {
  height: 100vh;
}

ul {
  list-style-type: none;
}

p {
  margin: 5px;
  min-width: 55px;
}
